.boo {
          background-color: aqua;
          padding: 20px;
          margin: 60px;
}

.pp {
          color: rgb(250, 248, 246);
          background-color: rgb(138, 211, 20);
          padding: -1%;
          margin: 5%;
          text-align: center;
          text-decoration: none;
          margin-bottom: 1%;
          display:inline-block;
          width: 30%;
          

}

